APP_ENV=dev
APP_SECRET=change_me

DATABASE_URL="mysql://USER:PASSWORD@127.0.0.1:3306/DB_NAME?serverVersion=8.0"

### Mercure (optional)
MERCURE_URL=http://localhost:3000/.well-known/mercure
MERCURE_PUBLIC_URL=http://localhost:3000/.well-known/mercure
MERCURE_JWT_SECRET=change_me
