body {
    background-color: skyblue;
}
.dropdown-menu .dropdown-item:hover {
    background-color: var(--bs-primary);
    color: #fff;
}
.text-gradient-violet {
    background: linear-gradient(to right, #8b5cf6, #d946ef); /* violet → fuchsia */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: xx-large;
}